In [1]:
sub_dir = '../submissions/'

In [2]:
import numpy as np
import pandas as pd
from tqdm import tqdm

# ResNet50

In [5]:
df = []
for i in tqdm(range(5)):
    filename = sub_dir+'submission_resnet50_ft'+str(i)+'_aug.csv'
    df_ = pd.read_csv(filename)
    df.append(df_)

100%|██████████| 5/5 [00:02<00:00,  2.20it/s]

In [13]:
for i in tqdm(range(5)):
    df[i] = df[i].sort_values(by='img', ascending=1)

100%|██████████| 5/5 [00:00<00:00,  9.63it/s]

In [3]:
def df_sum(df_list, weight):
    df_new = 0
    img_name_df = pd.DataFrame(df_list[0]['img'])
    for i in range(len(df_list)):
        df_new += df_list[i].iloc[:, 1:] / weight[i]
    df_new /= np.sum(weight)
    df_new = pd.concat([img_name_df, df_new], axis=1)
    return df_new

In [39]:
weight = np.ones(5)

In [31]:
df_avg = df_sum(df, weight)

In [33]:
df_avg.to_csv('../submissions/submission_resnet50_avg.csv', index=False)

In [36]:
weight = np.array([0.35491, 0.45376, 0.26854, 0.41992, 0.37796])

In [37]:
df_avg_w = df_sum(df, weight)

In [38]:
df_avg_w.to_csv('../submissions/submission_resnet50_avg_w.csv', index=False)

# VGG16

In [41]:
df = []
for i in tqdm(range(5)):
    filename = sub_dir+'submission_vgg16_ft'+str(i)+'_aug.csv'
    df_ = pd.read_csv(filename)
    df.append(df_)

100%|██████████| 5/5 [00:02<00:00,  2.05it/s]

In [42]:
for i in tqdm(range(5)):
    df[i] = df[i].sort_values(by='img', ascending=1)

100%|██████████| 5/5 [00:00<00:00,  9.15it/s]

In [43]:
df_avg = df_sum(df, np.ones(5))

In [44]:
df_avg.to_csv('../submissions/submission_vgg16_avg.csv', index=False)

In [45]:
weight = np.array([0.46152, 0.34059, 0.44347, 0.44602, 0.55130])

In [46]:
df_avg_w = df_sum(df, weight)
df_avg_w.to_csv('../submissions/submission_vgg16_avg_w.csv', index=False)

# ResNet50 and VGG16

In [42]:
f_resnet = '../submissions/submission_resnet50_avg.csv'
f_vgg = '../submissions/submission_vgg16_avg.csv'
f = [f_resnet, f_vgg]

In [43]:
df = []
for file in f:
    df_ = pd.read_csv(file)
    df_ = df_.sort_values(by='img', ascending=1)
    df.append(df_)

In [44]:
df_avg = df_sum(df, np.ones(2))

In [11]:
df_avg.to_csv('../submissions/submission_vgg16_resnet50_avg.csv', index=False)

In [45]:
df_value = df_avg.iloc[:, 1:]

In [46]:
df_value.head()

,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9
0,0.001028,0.000001,0.000034,0.000057,0.000049,0.997437,0.000008,0.000015,0.000214,0.001157
1,0.000082,0.000003,0.000033,0.000019,0.000040,0.999571,0.000009,0.000012,0.000213,0.000019
2,0.322080,0.083172,0.020700,0.021877,0.012708,0.021441,0.011531,0.110883,0.155747,0.239862
3,0.000074,0.000143,0.046924,0.000045,0.001101,0.000209,0.005420,0.000504,0.871676,0.073904
4,0.000137,0.000036,0.000002,0.999241,0.000393,0.000030,0.000025,0.000023,0.000038,0.000074

In [47]:
df_value[df_value<0.0001] = 0

In [48]:
df_value[df_value>0.9999] = 1

In [49]:
df_clip00001 = df_avg.iloc[:, :]

In [50]:
df_clip00001.iloc[:,1:] = df_value

In [51]:
df_clip00001.to_csv('../submissions/submission_vgg16_resnet50_avg_clip00001.csv', index=False)